CREATE OR REPLACE FUNCTION public.reject_advance_settlement(
    p_request_id text,
    p_expected_version integer,
    p_reason text
) RETURNS public.requests
LANGUAGE plpgsql SECURITY DEFINER
SET search_path = public
AS $func
DECLARE
    actor public.users;
    result public.requests;
BEGIN
    SELECT * INTO actor FROM public.users WHERE uid = auth.uid() AND "isActive";
    IF actor.role IS NULL OR actor.role NOT IN ('finance', 'super_admin') THEN
        RAISE EXCEPTION 'You cannot review requests' USING ERRCODE = '42501';
    END IF;

    SELECT * INTO result FROM public.requests WHERE id = p_request_id FOR UPDATE;
    IF NOT FOUND THEN
        RAISE EXCEPTION 'Request not found';
    END IF;

    IF p_expected_version IS NULL OR result.version <> p_expected_version THEN
        RAISE EXCEPTION 'This request changed. Refresh it before reviewing.' USING ERRCODE = '40001';
    END IF;

    IF result.status <> 'Pending Settlement' THEN
        RAISE EXCEPTION 'Request is not pending settlement';
    END IF;

    -- Revert back to paid, clear settlement details, add audit log
    UPDATE public.requests
    SET status = 'Paid',
        settlement_amount = NULL,
        settlement_method = NULL,
        settlement_note = NULL,
        settlement_date = NULL,
        rejection_reason = p_reason,
        reviewed_by = actor.uid,
        reviewed_by_name = actor.name,
        version = version + 1,
        updated_at = now()
    WHERE id = p_request_id
    RETURNING * INTO result;

    -- Add audit log
    INSERT INTO public.audit_logs (request_id, actor_id, actor_name, action, notes)
    VALUES (p_request_id, actor.uid, actor.name, 'Settlement Rejected', p_reason);

    RETURN result;
END;
$func;
